#env
.env
.env.local

#pyhton
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

#virtual env
venv/
.venv/
env/

#ides
.vscode/
.idea/
*.swp
*.swo

#os
.DS_Store
Thumbs.db

#logs
*.log
logs/

#staticfiles
static

#docker
*.override.yml